#productList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card{
    border: 1px solid black;
    padding: 20px;
    /* text-align: center; */
    border-radius: 10px;
    width: 280px;
    font-size: large;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    margin: 12px;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#prevBtn{
    background-color: #d4f4fa;
    padding: 4px;
    width:50px;
    margin: 0 7px;
}
#nextBtn{
    background-color: #d4f4fa;
    padding: 4px;
    width:50px;
    margin: 0 7px;
}

#prevBtn:hover{
     background-color: #a7f0fd;
}
#nextBtn:hover{
     background-color: #a7f0fd;
}
.btn{
    text-align: center;
}