.con{
    width:70%;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
}

#thumbnail{
    width: 100%;
}

#title{
font-weight: bold;
}

.info{
    margin: 20px 0;
    font-size: large;
    display: flex;
    flex-direction: column;
    gap:25px;
    padding-bottom: 20px;
}
li{
    font-size: medium;
    list-style-type: none;
}   
/* 
.imp{
    padding-bottom: 0px;
} */