.grid{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap:15px;
    margin: 25px;
}
.card{
    border: 1px solid black;
    padding: 20px;
    /* text-align: center; */
    border-radius: 10px;
    width: 280px;
    font-size: large;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    margin: 12px;
    text-align: center;
}
.card:hover{
    transform: scale(1.05);
}

.card p{
    color:red;
    font-weight: 800;
}
img{
    height:250px;
}

h1{
    text-align: center;
}



/* paggination */
#productList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.card{
    border: 1px solid black;
    padding: 20px;
    /* text-align: center; */
    border-radius: 10px;
    width: 280px;
    font-size: large;
    box-shadow: 0px 5px 10px rgb(0, 0, 0);
    margin: 12px;
}
.pagination{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
#prevBtn{
    background-color: #d4f4fa;
    padding: 4px;
    width:50px;
    margin: 0 7px;
}
#nextBtn{
    background-color: #d4f4fa;
    padding: 4px;
    width:50px;
    margin: 0 7px;
}

#prevBtn:hover{
     background-color: #a7f0fd;
}
#nextBtn:hover{
     background-color: #a7f0fd;
}
.btn{
    text-align: center;
}

.searchb{
    margin-left: 80px;
}

.empty-message {
        text-align: center;
        padding: 40px;
        color: #999;
        font-size: 18px;
      }